header {
    position: absolute;
}
aside {
    position: absolute;
}
.masthead {
    display: grid;
    background: var(--gray);
    height: 80vh;
    grid-template-columns: 1fr 1fr;
    position: relative;
    margin-bottom:15vh;
    h1 {
        position: absolute;
        z-index: 1;
        top:20vh;
        text-align:center;
        display:block;
        margin:0 auto;
        left:0;
        right:0;
    }
    img {
        position: absolute;
        z-index: 3;
        width:200px;
        bottom:-5vh;
        margin: 0 auto;
        left:0;
        right:0;
    }
    &--mainImg {
        background:url("https://media.gettyimages.com/photos/beautiful-sunset-picture-id1303980394?s=2048x2048");
        height: 90vh;
        background-size:cover;

    }
}
